{
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    ["react-intl", {
      "messagesDir": "./.tmp/messages/"
    }]
  ],
  "presets": [
    "latest",
    ["es2015", {
      "modules": false
    }],
    "react",
    "stage-0"
  ]
}
